# shared settings
DIRECT_EXCHANGE_NAME=ajxchange

# dispatcher settings
MAX_QUEUE_CAP=10

# runner settings
CONTAINER_NAMESPACE=ajrunner
CONTAINER_QUEUECAP=10   
MAX_PARALLEL_CONTAINERS=20
MEMORY_LIMIT_MB=2048
PID_LIMIT=128
CPU_QUOTA=2.0
MAX_LOG_CAP_KB=1024
NO_NEW_PRIVILEGES=true
READONLY_ROOTFS=true
TIMEOUT_SEC=300

# infrastructure
MINIO_S3_API=
MINIO_S3_USERNAME=           # accesskey
MINIO_S3_PASSWORD=          # secretkey
MINIO_S3_BUCKET=
MINIO_S3_CONSOLE=
MINIO_S3_REGION_NAME=
RABBITMQ_URL=
RABBITMQ_QUEUE_NAME=
RABBITMQ_SSE_QUEUE_NAME=